[submodule "Android/app/src/main/cpp/submodules/zdtun"]
	path = Android/app/src/main/cpp/submodules/zdtun
	url = git@github.com:KrxkGit/zdtun.git
[submodule "Android/app/src/main/cpp/submodules/libpcap"]
	path = Android/app/src/main/cpp/submodules/libpcap
	url = git@github.com:the-tcpdump-group/libpcap.git
